
<br>
<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Resources</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label for="gradeFilter">Grade:</label>
              <select id="gradeFilter" class="form-control" [(ngModel)]="filters.grade" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let grade of grades">{{ grade }}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="specialtyFilter">Specialty:</label>
              <select id="specialtyFilter" class="form-control" [(ngModel)]="filters.specialty" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let specialty of filteredSpecialties">{{ specialty }}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="statusFilter">Status:</label>
              <select id="statusFilter" class="form-control" [(ngModel)]="filters.status" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let status of statuses">{{ status }}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="subjectFilter">Subject:</label>
              <select id="subjectFilter" class="form-control" [(ngModel)]="filters.subject" (change)="applyFilters()">
                <option value="">All</option>
                <option *ngFor="let subject of subjects">{{ subject }}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Title</th>
                  <th>Grade</th>
                  <th>Specialty</th>
                  <th>Status</th>
                  <th>Uploaded By</th>
                  <th>Approved By</th>
                  <th>Subject</th>
                  <th>Files</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let resource of filteredResources">
                  <td>{{ resource.title }}</td>
                  <td>{{ resource.subject.grade }}</td>
                  <td>{{ resource.subject.spec }}</td>
                  <td [ngClass]="{'status-pending': resource.status === 'PENDING', 'status-approved': resource.status === 'APPROVED'}">{{ resource.status }}</td>
                  <td>{{ resource.upload?.firstname || '-' }} {{ resource.upload?.lastname || '-' }}</td>
                  <td>{{ resource.approve?.firstname || '-' }} {{ resource.approve?.lastname || '-' }}</td>
                  <td>{{ resource.subject?.name || '-' }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let image of resource.resourceImages" (click)="viewResource(image)" class="file-item">
                        <ng-container [ngSwitch]="image.type">
                          <img *ngSwitchCase="'image/png'" [src]="getImageUrl(image.id_image)" alt="Resource Image" class="resource-thumbnail">
                          <img *ngSwitchCase="'image/jpeg'" [src]="getImageUrl(image.id_image)" alt="Resource Image" class="resource-thumbnail">
                          <i *ngSwitchCase="'application/pdf'" class="fas fa-file-pdf file-icon file-icon-pdf"></i>
                          <i *ngSwitchCase="'application/zip'" class="fas fa-file-archive file-icon file-icon-zip"></i>
                          <span *ngSwitchDefault>{{ image.path }}</span>
                        </ng-container>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <!-- Conditional buttons based on the resource status -->
                    <button *ngIf="resource.status === 'PENDING'" class="btn btn-success" (click)="approveResource(resource.id_resource)">Approve</button>
                    <button *ngIf="resource.status === 'PENDING'" class="btn btn-danger" (click)="declineResource(resource.id_resource)">Decline</button>
                    <button *ngIf="resource.status === 'APPROVED'" class="btn btn-danger" (click)="deleteResource(resource.id_resource)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <div class="modal-content futuristic-modal" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div *ngIf="currentImage?.type.startsWith('image')">
      <img [src]="getImageUrl(currentImage.id_image)" alt="Resource Image" class="modal-image">
      <div class="download-container">
        <a [href]="getImageUrl(currentImage.id_image)" target="_blank" class="download-btn">
          <i class="fas fa-download"></i> Download Image
        </a>
      </div>
    </div>
    <div *ngIf="currentImage?.type === 'application/pdf'">
      <iframe [src]="getSafeUrl(currentImage.id_image)" class="modal-pdf"></iframe>
      <div class="download-container">
        <a [href]="getImageUrl(currentImage.id_image)" target="_blank" class="download-btn">
          <i class="fas fa-download"></i> Download PDF
        </a>
      </div>
    </div>
    <div *ngIf="currentImage?.type === 'application/zip'">
      <p>Download the ZIP file: <a [href]="getImageUrl(currentImage.id_image)" target="_blank" class="download-btn">
        <i class="fas fa-download"></i> Download ZIP
      </a></p>
    </div>
  </div>
</div>

